<div class="registration_header">
  <i class="fas fa-glass-cheers fa-2x"></i>
    <%= link_to root_path, class: "nav_link" do%>
      <div class="registration_title">Cooking diary</div>
    <% end %>
</div>