
.home_body {
  background-color: #f7f3e8;
  width: 1430px;
  height: 745px;
  border-top: 1px solid #e3dcca;
}

.logout {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
}

.logout_btn {
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #f7f3e8;
  height: 28px;
}
