
.sessions_body {
  width: 1424px;
  height: 745px;
  background-image: url(ebf791189279de1a70326b01eb5e2887.jpg);
  background-size: cover;
  padding-top: 150px;
}

.sessions_form {
  width: 300px;
  height: 230px;
  padding: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  margin-left: auto;
  margin-right: 100px;
  background-color: #fff;
}

.sessions {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.sessions_btn {
  width: 100px;
  background-color: #FF773E;
  border: solid 1px #FF773E;
  border-radius: 4px;
  font-weight: bold;
}

.to_registration {
  margin-top: 10px;
  font-size: 10px;
  margin-left: 10px;
}